.footer {
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    background-color: #090808;
    padding: 25px;
    text-align: center;
    color: #f2c77d;
}